POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

KEYCLOAK_REALM=
KEYCLOAK_REALM_USER=
KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_LOGIN_CLIENT_ID=
KEYCLOAK_ADMIN_CLIENT_ID=
KEYCLOAK_DB_PASSWORD=

RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=